.formContainer2 {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #282c34;
    color: white;
    box-shadow: 0 8px 6px -5px black;
    border-radius: 5px;
  }
  
  .emailLabel {
    display: inline-block;
    margin-right: 5px;
  }
  .passwordLabel {
      margin-left: 67px;
  }

  .login {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
  }
  .signUp {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
  }
  
  .emailContainer {
       margin: 0 auto;
       text-align: center;

  }
  .passwordContainer {
    margin: 20px;
  }
  
  .buttonContainer {
    display: flex;
    margin: 20px;
  }